<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Todo: Think Bridge" %></h1>
  <p>Todo list application</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
      <%= link("Task Groups", to: "/groups") %>
      </li>
    </ul>
  </article>
</section>
